@use "../globals" as *;
@use "../parts/common" as *;

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

html {
  font-size: 100%;
}
body {
  color: $cBlack;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
a {
  color: $cWhite;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

/* 共通クラス */
.site-title {
  font-size: 6.25rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin: 100px 0;
  opacity: 0;
  transform: translateY(50%);
  transition: transform 1s;

  &.inview {
    opacity: 1;
    transform: translateY(0%);
  }

}
.section-title {
  border-bottom: solid 1px $cWhite;
  display: inline-block;
  @extend .font-lr;
  font-weight: 700;
  // margin: 0 auto;
}
.section-read {
  font-weight: 400;
  @extend .font-lr;
  // margin: 40px auto 0;
  letter-spacing: 4px;
}
.wrapper {
  // max-width: 800px;
  // padding: 0 30px;
  // margin: 0 auto;
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}
.container {
  background: $cBlack;
  color: $cWhite;
  // text-align: center;
}


/* サイドボタン */
.side-btn {
  border: solid 1px $cWhite;
  position: fixed;
  right: -200px;
  bottom: 250px;
  transform: rotate(-90deg) translateY(60px);
  transition: transform 0.6s;
  z-index: 30;
  
  & a {
    width: 140px;
    font-size: 0.875rem;
    display: inline-block;
    letter-spacing: 0.1em;
    text-align: start;
    padding: 10px 0 10px 40px;
    transition: opacity 0.3s;
    border-left: solid 1px $cWhite;
    
    &:first-of-type {
      border-left: none;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &.inview {
    transform: rotate(-90deg) translateY(0px);
  }
}


/* アイコン */
.icon {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 1em;
    height: 1em;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: none;
    background-size: contain;
  }

  &.twitter::before {
    background-image: url(../images/twitter.svg);
  }

  &.facebook::before {
    background-image: url(../images/facebook.svg);
  }

  &.instagram::before {
    background-image: url(../images/instagram.svg);
  }
}


/* Locationの背景画像 */
.bg {
  background: url("../images/bg.jpg") center center repeat !important;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;

  &.inview {
    opacity: 1;
    visibility: visible;
  }
}


/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header {
  &__logo {
    position: fixed;
    top: 30px;
    left: 5%;
    z-index: 40;
    /* 余白消し */
    line-height: 1px;
    
    & a {
      display: block;
      
      & img {
        width: 150px;

        @include mq(lg) {
          width: 200px;
        }
      }
    }
  }

  
  &__hamburger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    top: 25px;
    right: 5%;
    z-index: 40;

    @include mq(lg) {
      top: 30px;
    }
    
    & span {
      width: 30px;
      height: 2px;
      background-color: $cWhite;
      position: absolute;
      left: 6px;
      transition: transform 0.5s ease-in-out;
      
      &:nth-child(1) {
        top: 11px;
      }
      &:nth-child(2) {
        top: 21px;
      }
      &:nth-child(3) {
        top: 31px;
      }
    }

    &.active span:nth-child(1) {
      top: 21px;
      left: 6px;
      transform: rotate(-45deg);
    }

    &.active span:nth-child(2),
    &.active span:nth-child(3) {
      top: 21px;
      transform: rotate(45deg);
    }
  }

  
  &__navi {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    transform: translateY(-100%) translateY(-150px);
    transition: all 0.6s;
    z-index: 30;

    @include mq(lg) {
      transform: translateY(-100%) translateY(-300px);
    }

    &.active {
      transform: translateY(0%);
  
      & .header__li {
        transform: none;
        opacity: 1;
  
        @for $i from 1 through 7 {
          &:nth-child(#{$i}) {
              transition-delay: $i * 0.1s;
          }
        }
      }
    }  
  }

  &__ul {
    width: 100%;
    padding: 100px 0 50px;
    perspective: 2000px;
    transform-style: preserve-3d;

    @include mq(lg) {
      padding: 200px 0 100px;
    }
  }

  &__li {
    color: $cWhite;
    transform: translate3d(0, 0, -1000px);
    transition: transform 1s, opacity 1s;
    opacity: 0;

    & a {
      display: block;
    }
  }

  &__li + &__li {
    margin-top: 40px;
  }
}


/*-------------------------------------------
Mainvisual
-------------------------------------------*/


.mainvisual {
  @extend .mb-lg;
  
  // &__inner {
  //   display: flex;
  //   justify-content: center;
  //   overflow-x: hidden;
  // }

  // &__img {
  //   width: calc(100% / 3);
  //   height: 100vh;
  //   flex-shrink: 0;
  //   object-fit: cover;
  // }

//   &__footer {
//     position: absolute;
//     left: 50%;
//     bottom: 60px;
//     transform: translateX(-50%);
//     z-index: 1;
//     height: 150px;
//     width: 40px;
//     overflow: hidden;
//   }

//   &__downarrow {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     width: 15px;
//     @include animation(
//       $name: kf-arrow-anime,
//       $iteration-count: infinite,
//       $duration: 2s,
//       $timing-function: linear
//     );
//   }

//   &__scrolltext {
//     position: absolute;
//     transform: rotate(90deg);
//     left: -8px;
//     top: 15px;
//     font-size: 1.75rem;
//     opacity: 0.7;
//   }

//   &::after {
//     content: "";
//     position: absolute;
//     z-index: 2;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     box-shadow: inset 0 0 100px $cBlack;
//   }
// }

// @keyframes kf-arrow-anime {
//   0%,
//   50%,
//   100% {
//     transform: translateY(-10%);
//   }
//   30% {
//     transform: none;
//   }
}




/*-------------------------------------------
Feature
-------------------------------------------*/
.feature {
  @extend .mb-lg;
  position: relative;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    .feature__area + .feature__area {
      margin-top: 90px;

      @include mq(lg) {
        margin-top: 180px;
      }
    }

    .section-title {
      font-size: 1.2rem;
      letter-spacing: 0.15rem;
  
      @include mq(lg) {
        font-size: 1.4rem;
      }
    }
  }

  &__area {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: 40px 0;

    @include mq(lg) {
      height: 400px;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      grid-gap: 0 60px;
    }

    &:nth-child(2n+1) {
      .feature__content {
        @include mq(lg) {
          text-align: end;
        }
      }
    }

    &:nth-child(2n) {
      .feature__content {
        @include mq(lg) {
          text-align: start;
          order: 2;
        }
      }

      .feature__figure {
        @include mq(lg) {
          order: 1;
        }
      }
    }
  }

  &__content {
    text-align: center;
  }

  &__figure {
    width: 100%;
    height: 300px;
    overflow: hidden;
    
    @include mq(lg) {
      height: 400px;
    }

    @include mq(xl) {
      height: 500px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    margin-top: 20px;
    line-height: 1.8;
    @extend .font-sm;

    p + p {
      margin-top: 10px;
    }
  }
}


/*-------------------------------------------
Menu
-------------------------------------------*/
.menu {
  @extend .mt-lg;
  position: relative;

  &::before {
    background: url("../../images/menu-bg.jpg") no-repeat center center / cover;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  &__inner {
    @extend .pt-lg;
    @extend .pb-lg;
    position: relative;
    z-index: 2;
  }

  &__heading {
    text-align: center;

    & > .section-title {
      margin: 20px auto 0;
    }
  }
  
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 0;
    @extend .pt-md;
    @extend .pb-md;

    @include mq(lg) {
      gap: 0 20px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;

    &-flex {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;

      @include mq(lg) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    @include mq(lg) {
      padding: 30px 100px;
    }
  }

  &__title, &__price {
    letter-spacing: 1.5px;
    overflow: hidden;
    @extend .font-sm;
  }

  &__desc {
    margin-top: 20px;
    line-height: 1.5;
    overflow: hidden;
    @extend .font-sm;
  }

  &__btn {
    text-align: center;
    a {
      display: block;
    }
  }
}


/*-------------------------------------------
About
-------------------------------------------*/
.about {
  @extend .mb-lg;
  
  &__inner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 50%;
      width: 100%;
      background: #423012;
    } 
  }

  &__container {
    // max-width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;

    & .section-title {
      margin: 0 0 30px 0;
    }
  }  

  &__ul {
    display: inline-flex;
    gap: 50px;

    @include mq(lg) {
      gap: 80px;
    }
  }

  &__li {
    position: relative;
    display: flex;
    flex-direction: column;    
    width: 60vw;
    text-align: center;
    align-items: center;
    counter-increment: num 1;
    background-color: #4e4e4e;
    border: 1px solid $cWhite;
    box-shadow: rgba(255 255 255 / 0.3) 0px 7px 29px 0px;
    
    &::before {
      content: counter(num, decimal-leading-zero);
      position: absolute;
      top: 10px;
      right: 5%;
      font-size: 1.5em;
      color: $cWhite;
      font-weight: bold;
      z-index: 2;

      @include mq(lg) {
        font-size: 2em;    
      }
    }

    @include mq(md) {
      width: 50vw;
    }

    @include mq(lg) {
      width: 35vw;
    }

    @include mq(xl) {
      width: 20vw;
    }
  }

  &__image {
    height: 30vh;
    width: 100%;
    overflow: hidden;

    & > img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      @include mq(lg) {
        &:hover {
          scale: (1.05);
          transition: scale 1s ease;
        }
      }
    }

    @include mq(md) {
      height: 40vh;
    }
  }

  &__read {
    margin-top: 10px;
    font-size: 0.6em;
    letter-spacing: 0.5em;
  }

  &__title {
    font-weight: bold;
    @extend .font-md;
    margin-top: 10px;
  }

  &__text {
    font-size: 0.8em;
    line-height: 1.8;
    padding: 10px 1em;
  }
}


/*-------------------------------------------
News
-------------------------------------------*/
.news {
  @extend .mt-lg;
  position: relative;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../../images/news-bg.jpg") no-repeat;
    object-fit: cover;
  }
  
  &__inner {
    @extend .pt-lg;
    @extend .pb-lg;
    position: relative;
    z-index: 2;
  }

  &__heading {
    text-align: center;

    & > .section-title {
      margin: 20px auto 0;
    }
  }

  &__ul {
    @extend .pt-md;
    @extend .pb-md;
    overflow: hidden;
  }

  &__li + &__li {
    border-bottom: 0.5px solid #D3D6DD;
  }

  &__li {
    padding: 10px 20px;
    overflow: hidden;

    &:first-child {
      border-top: 0.5px solid #D3D6DD;
      border-bottom: 0.5px solid #D3D6DD;
    }

    @include mq(lg) {
      display: flex;
      align-items: center;
      padding: 20px 20px;
    }
  }

  &__info {
    @include mq(lg) {
      flex: 0 1 280px;
    }
  }

  &__date {
    display: inline-block;
    letter-spacing: 0.2em;
    @extend .font-sm;
  }

  &__title {
    display: inline-block;
    margin-top: 10px;
    line-height: 1.8;
    
    @extend .font-sm;

    @include mq(lg) {
      margin-top: 0;
      flex: 1 3 0px;
    }
  }

  &__link {
    @extend .mt-md;
    text-align: center;

    .btn {
      margin: 0 auto;
    }
  }
}


/*-------------------------------------------
Gallery
-------------------------------------------*/
.gallery {
  @extend .mt-lg;

  &__inner {
    @extend .pb-md;
    position: relative;
    z-index: 2;
  }

  &__heading {
    text-align: center;

    & > .section-title {
      margin: 20px auto 0;
    }
  }
}


/*-------------------------------------------
Footer
-------------------------------------------*/
.footer {
  position: relative;
  @extend .mt-lg;
  font-size: 0.75rem;
  // border-top: solid 1px $cWhite;

  &::before {
    background: url("../../images/footer-bg.jpg") no-repeat center center / cover;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: grayscale(50%) brightness(0.8);
  }


  &__wrapper {
    @extend .pt-lg;
    @extend .pb-lg;
    position: relative;
    z-index: 2;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: center;

    @include mq(lg) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__map {

    &-wrap {
      @include mq(lg) {
        width: 40%;
      }
    }

    filter: grayscale(100%);
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 75%; /* 比率 (3÷4)×100 */

    @include mq(lg) {
      padding-top: 56.25%; /* 比率 (9÷16)×100 */
    }

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    padding: 25px 0;
    width: 100%;

    @include mq(lg) {
      padding: 0;
      width: 40%;
    }

    p {
      line-height: 1.6;

      &:first-of-type {
        margin-top: 15px;
  
        @include mq(lg) {
          margin-top: 30px
        }
      }
    }

    p + p {
      margin-top: 10px;
    }
  }

  &__logo {
    display: inline-block;

    & img {
      width: 150px;

      @include mq(lg) {
        width: 250px;
      }
    }
  }

  // &__address {
  //   margin-top: 15px;
  //   line-height: 1.6;

  //   @include mq(lg) {
  //     margin-top: 30px
  //   }
  // }

  &__sns {
    margin-top: 15px;
    display: flex;
    align-items: center;

    @include mq(lg) {
      margin-top: 30px
    }

    & li > a {
      padding: 0 1.25em;
      letter-spacing: 0.1em;
    }
  }

  &__copyright {
    @extend .mt-md;
    text-align: center;
  }
}

  /******************************************************************

  Stylesheet: 900px以下のモニタで適用

  ******************************************************************/

  .site-title {
    font-size: 3rem;
    margin: 50px 0;
  }
  // .section-title {
  //   font-size: 2rem;
  // }
  // jQuery使用時はコメントアウトする
  .side-btn {
    display: none;
  }


  /*-------------------------------------------
  Menu
  -------------------------------------------*/
  // .menu {
  //   margin-bottom: 280px;
    
  //   &__inner {
  //     padding: 15px;
  //   }

  //   &__flex {
  //     flex-direction: column;

  //     &:nth-child(even) {
  //       flex-direction: column;

  //       & .menu__texts-inner {
  //         text-align: center;
  //       }
  //     }
  //   }

  //   &__img {
  //     flex-basis: auto;
  //   }

  //   &__texts {
  //     flex-basis: auto;
  //   }

  //   &__texts-inner {
  //     width: 100%;
  //     margin: 0 auto;
  //     text-align: center;
  //     padding-top: 30px;
  //     padding-bottom: 30px;
  //   }

  //   &__title {
  //     &::before {
  //       display: none;
  //     }
  //   }
  // }


  /*-------------------------------------------
  Location
  -------------------------------------------*/
  .location {
    margin-bottom: 280px;
  }


  /*-------------------------------------------
  Feature
  -------------------------------------------*/
  // .feature {

  //   &__inner {
  //     flex-direction: column;
  //   }

  //   &__img {
  //     width: 100%;
  //     margin-bottom: 30px;

  //     & img {
  //       height: 300px;
  //     }
  //   }

  //   &__text {
  //     width: 100%;
  //     padding: 0 3%;
  //   }
  // }


  /*-------------------------------------------
  Footer
  -------------------------------------------*/
  // .footer {
  //   flex-direction: column;
  //   align-items: flex-start;
  //   padding: 60px 5%;

  //   &__sns {
  //     margin-bottom: 30px;
  //   }
  // }