@use "../globals" as *;

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;

  @include mq(lg) {
    margin-bottom: 150px !important;
  }
}


// font
.font-sm {
  font-size: 14px;

  @include mq(lg) {
    font-size: 16px;
  }
}
.font-md {
  font-size: 17px;

  @include mq(lg) {
    font-size: 19px;
  }
}
.font-lr {
  font-size: 17px;

  @include mq(lg) {
    font-size: 23px;
  }
}
.font-lg {
  font-size: 25px;

  @include mq(lg) {
    font-size: 36px;
  }
}
