@use "../globals" as *;

.gsap-top {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &-title {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    font-size: 12rem;
    color: #fff;
    font-family: "EB Garamond", serif;
    z-index: 10;

    &__left, &__right {
      display: inline-block;
    }
  }

  &-image {
    height: 100%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-bg__left, &-bg__right {
    position: absolute;
    top: 0;
    z-index: -10;
    width: 50%;
    height: 100%;
  }

  &-bg__left {
    background: url("../../images/mainvisual1.jpg") no-repeat center center / cover;
    left: 0;
    z-index: -10;
  }

  &-bg__right {
    background: url("../../images/mainvisual3.jpg") no-repeat center / cover;
    right: 0;
    z-index: -10;
  }
  
  &-scroll {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    height: 200px;
    width: 50px;

    & > span {
      font-size: 1.4rem;
      color: $cWhite;
      position: absolute;
      left:25px;
      bottom:10px;
      letter-spacing: 0.1rem;
      writing-mode: vertical-rl;

      &::after {
        content:"";
        position: absolute;
        bottom:0;
        left:0;
        width:2px;
        height: 150px;
        background:$cWhite;
      }
    }
  }
}
