@import 'modules/variables';
@import 'modules/mixin';

.pace-done .global-container {
  transition: opacity 1s;
  opacity: 1;
}

.global-container {
  opacity: 0;
}

.pace {
	z-index: 2000;
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100px;
	height: 100px;
}

.pace .pace-progress {
  transform: none !important;
  text-align: center;
}

.pace .pace-progress:after {
	content: attr(data-progress-text);
	display: block;
  font-weight: 100;
  font-size: 2rem;
  color: $cBlack;
}

.pace.pace-inactive {
	display: none;
}

.pace-progress-inner {
  width: 50px;
  height: 50px;
  background-image: url(../images/loader.svg);
  margin: 0 auto;
  @include animation(
    $name: rotation-x,
    $duration: 1s,
    $iteration-count: infinite,
    $timing-function: linear
  );
}

@keyframes rotation-x {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}