@charset "UTF-8";
.appear.up .item {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.appear.down .item {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.appear.left .item {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.appear.right .item {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.appear .item {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
}

.appear.inview .item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.appear.inview .item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.appear.inview .item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.appear.inview .item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.appear.inview .item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear.inview .item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.appear.inview .item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.appear.inview .item:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.appear.inview .item:nth-child(8) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.appear.inview .item:nth-child(9) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.appear.inview .item:nth-child(10) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.btn {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #050507;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #050507;
  text-decoration: none !important;
}

.btn.float:hover {
  background-color: #050507;
  color: #fff;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.btn.filled {
  background-color: #050507;
  color: #fff;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.btn.filled:hover {
  background-color: #fff;
  color: #050507;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.letter-spacing:hover {
  background-color: #050507;
  letter-spacing: 3px;
  color: #fff;
}

.btn.shadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.shadow:hover {
  -webkit-transform: translate(-2.5px, -2.5px);
          transform: translate(-2.5px, -2.5px);
  -webkit-box-shadow: 5px 5px 0 0 #050507;
          box-shadow: 5px 5px 0 0 #050507;
}

.btn.solid {
  -webkit-box-shadow: 2px 2px 0 0 #050507;
          box-shadow: 2px 2px 0 0 #050507;
  border-radius: 7px;
}

.btn.solid:hover {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn.slide-bg::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #050507;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.btn.slide-bg:hover {
  color: #fff;
}

.btn.slide-bg:hover::before {
  -webkit-transform: none;
          transform: none;
}

.btn.cover-3d {
  position: relative;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.btn.cover-3d span {
  display: inline-block;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.btn.cover-3d::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #050507;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  opacity: 0;
}

.btn.cover-3d:hover {
  color: #fff;
}

.btn.cover-3d:hover::before {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.btn-cubic {
  position: relative;
  display: inline-block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 300px;
          perspective: 300px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 600;
}

.btn-cubic span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #050507;
  line-height: 48px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: center center -25px;
          transform-origin: center center -25px;
  color: black;
}

.btn-cubic .hovering {
  background-color: #050507;
  color: #fff;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.btn-cubic .default {
  background-color: #fff;
  color: #050507;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.btn-cubic:hover .hovering {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.btn-cubic:hover .default {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.animate-title,
.tween-animate-title {
  opacity: 0;
}

.animate-title.inview,
.tween-animate-title.inview {
  opacity: 1;
}

.animate-title.inview .char,
.tween-animate-title.inview .char {
  display: inline-block;
}

.animate-title .char,
.tween-animate-title .char {
  opacity: 0;
}

.animate-title.inview .char {
  -webkit-animation-name: kf-animate-chars;
          animation-name: kf-animate-chars;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animate-title.inview .char:nth-child(1) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
}

.animate-title.inview .char:nth-child(2) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}

.animate-title.inview .char:nth-child(3) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.animate-title.inview .char:nth-child(4) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}

.animate-title.inview .char:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.animate-title.inview .char:nth-child(6) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.animate-title.inview .char:nth-child(7) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}

.animate-title.inview .char:nth-child(8) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}

.animate-title.inview .char:nth-child(9) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.animate-title.inview .char:nth-child(10) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.animate-title.inview .char:nth-child(11) {
  -webkit-animation-delay: 0.44s;
          animation-delay: 0.44s;
}

.animate-title.inview .char:nth-child(12) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.animate-title.inview .char:nth-child(13) {
  -webkit-animation-delay: 0.52s;
          animation-delay: 0.52s;
}

.animate-title.inview .char:nth-child(14) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}

.animate-title.inview .char:nth-child(15) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.animate-title.inview .char:nth-child(16) {
  -webkit-animation-delay: 0.64s;
          animation-delay: 0.64s;
}

.animate-title.inview .char:nth-child(17) {
  -webkit-animation-delay: 0.68s;
          animation-delay: 0.68s;
}

.animate-title.inview .char:nth-child(18) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

.animate-title.inview .char:nth-child(19) {
  -webkit-animation-delay: 0.76s;
          animation-delay: 0.76s;
}

.animate-title.inview .char:nth-child(20) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.animate-title.inview .char:nth-child(21) {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}

.animate-title.inview .char:nth-child(22) {
  -webkit-animation-delay: 0.88s;
          animation-delay: 0.88s;
}

.animate-title.inview .char:nth-child(23) {
  -webkit-animation-delay: 0.92s;
          animation-delay: 0.92s;
}

.animate-title.inview .char:nth-child(24) {
  -webkit-animation-delay: 0.96s;
          animation-delay: 0.96s;
}

.animate-title.inview .char:nth-child(25) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.animate-title.inview .char:nth-child(26) {
  -webkit-animation-delay: 1.04s;
          animation-delay: 1.04s;
}

.animate-title.inview .char:nth-child(27) {
  -webkit-animation-delay: 1.08s;
          animation-delay: 1.08s;
}

.animate-title.inview .char:nth-child(28) {
  -webkit-animation-delay: 1.12s;
          animation-delay: 1.12s;
}

.animate-title.inview .char:nth-child(29) {
  -webkit-animation-delay: 1.16s;
          animation-delay: 1.16s;
}

.animate-title.inview .char:nth-child(30) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@-webkit-keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.cover-slide {
  position: relative;
  overflow: hidden;
}

.cover-slide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4c4c4c;
  opacity: 0;
}

.cover-slide.inview::after {
  opacity: 1;
  -webkit-animation-name: kf-cover-slide;
          animation-name: kf-cover-slide;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes kf-cover-slide {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes kf-cover-slide {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.img-zoom {
  opacity: 0;
}

.inview .img-zoom {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-animation-name: kf-img-show;
          animation-name: kf-img-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.inview .img-zoom:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

.hover-darken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  pointer-events: none;
  -webkit-animation-name: kf-img-show;
          animation-name: kf-img-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.hover-darken:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
html {
  font-size: 100%;
}

body {
  color: #050507;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

/* 共通クラス */
.site-title {
  font-size: 6.25rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin: 100px 0;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.site-title.inview {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.section-title {
  border-bottom: solid 1px #fff;
  display: inline-block;
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 45px;
}

.wrapper {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
}

.container {
  background: #050507;
  color: #fff;
  text-align: center;
}

/* サイドボタン */
.side-btn {
  border: solid 1px #fff;
  position: fixed;
  right: -200px;
  bottom: 250px;
  -webkit-transform: rotate(-90deg) translateY(60px);
          transform: rotate(-90deg) translateY(60px);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  z-index: 30;
}

.side-btn a {
  width: 140px;
  font-size: 0.875rem;
  display: inline-block;
  letter-spacing: 0.1em;
  text-align: start;
  padding: 10px 0 10px 40px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  border-left: solid 1px #fff;
}

.side-btn a:first-of-type {
  border-left: none;
}

.side-btn a:hover {
  opacity: 0.7;
}

.side-btn.inview {
  -webkit-transform: rotate(-90deg) translateY(0px);
          transform: rotate(-90deg) translateY(0px);
}

/* アイコン */
.icon {
  position: relative;
}

.icon::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 14%;
  width: 1em;
  height: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon.twitter::before {
  background-image: url(../images/twitter.svg);
}

.icon.facebook::before {
  background-image: url(../images/facebook.svg);
}

.icon.instagram::before {
  background-image: url(../images/instagram.svg);
}

/* Locationの背景画像 */
.bg {
  background: url("../images/bg.jpg") center center repeat !important;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.bg.inview {
  opacity: 1;
  visibility: visible;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header__logo {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 40;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.header__logo a {
  display: block;
  height: 30px;
}

.header__logo a img {
  width: 30px;
}

.header__logo a span {
  font-size: 1.25rem;
  line-height: 30px;
}

.header__logo.inview, .header__hamburger.inview {
  visibility: visible;
  opacity: 1;
}

.header__hamburger {
  width: 42px;
  height: 42px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 25px;
  z-index: 40;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.header__hamburger span {
  width: 30px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 6px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.header__hamburger span:nth-child(1) {
  top: 11px;
}

.header__hamburger span:nth-child(2) {
  top: 21px;
}

.header__hamburger span:nth-child(3) {
  top: 31px;
}

.header__hamburger.active span:nth-child(1) {
  top: 21px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__hamburger.active span:nth-child(2),
.header__hamburger.active span:nth-child(3) {
  top: 21px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__navi {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 30;
}

.header__navi ul {
  width: 100%;
  padding: 80px 0 30px 0;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.header__navi ul li {
  color: #fff;
  padding: 20px 0;
  -webkit-transform: translate3d(0, 0, -1000px);
          transform: translate3d(0, 0, -1000px);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  opacity: 0;
}

.header__navi ul li a {
  display: block;
}

.header__navi.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.header__navi.active li {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.header__navi.active li:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.header__navi.active li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.header__navi.active li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.header__navi.active li:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.header__navi.active li:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.header__navi.active li:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.header__navi.active li:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
.mainvisual {
  position: relative;
}

.mainvisual__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 0 100px black;
          box-shadow: inset 0 0 100px black;
  z-index: 2;
}

.mainvisual__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

.mainvisual__img {
  width: calc(100% / 3);
  height: 100vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainvisual__footer {
  position: absolute;
  left: 50%;
  bottom: 60px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  height: 150px;
  width: 40px;
  overflow: hidden;
}

.mainvisual__downarrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15px;
  -webkit-animation-name: kf-arrow-anime;
          animation-name: kf-arrow-anime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.mainvisual__scrolltext {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: -8px;
  top: 15px;
  font-size: 1.75rem;
  opacity: 0.7;
}

@-webkit-keyframes kf-arrow-anime {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  30% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes kf-arrow-anime {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  30% {
    -webkit-transform: none;
            transform: none;
  }
}

/*-------------------------------------------
News
-------------------------------------------*/
.news {
  margin-bottom: 140px;
  font-size: 0.8rem;
}

.news__list {
  border-top: 1px solid #C8C8C8;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__date {
  width: 20%;
  padding: 15px;
  border-bottom: 1px solid #C8C8C8;
}

.news__title {
  border-bottom: 1px solid #C8C8C8;
  width: 80%;
  padding: 15px;
}

/*-------------------------------------------
Menu
-------------------------------------------*/
.menu {
  margin-bottom: 480px;
}

.menu__inner {
  background-color: #4c4c4c;
  padding: 50px 100px;
}

.menu__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
  z-index: 0;
}

.menu__flex:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.menu__flex:nth-child(even) .menu__title::before {
  left: 200px;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.menu__flex:nth-child(even) .menu__texts-inner {
  text-align: right;
}

.menu__img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 400px;
  -webkit-transition: -webkit-box-shadow 1ms linear 0.8s;
  transition: -webkit-box-shadow 1ms linear 0.8s;
  transition: box-shadow 1ms linear 0.8s;
  transition: box-shadow 1ms linear 0.8s, -webkit-box-shadow 1ms linear 0.8s;
}

.menu__img > img {
  position: relative;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.menu__img.inview {
  -webkit-box-shadow: inset 0 0 30px #050507;
          box-shadow: inset 0 0 30px #050507;
}

.menu__texts {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu__texts.inview .menu__title::before {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu__texts-inner {
  padding-bottom: 43px;
  text-align: left;
}

.menu__title {
  position: relative;
  margin-bottom: 10px;
}

.menu__title::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: -95px;
  width: 85px;
  height: 1px;
  background-color: #fff;
  -webkit-transform: translateY(-50%) scaleX(0);
          transform: translateY(-50%) scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease 1.6s;
  transition: -webkit-transform 0.3s ease 1.6s;
  transition: transform 0.3s ease 1.6s;
  transition: transform 0.3s ease 1.6s, -webkit-transform 0.3s ease 1.6s;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.menu__price {
  margin-bottom: 10px;
}

.menu__btn a {
  display: block;
}

/*-------------------------------------------
Location
-------------------------------------------*/
.location {
  margin-bottom: 480px;
  position: relative;
  z-index: 20;
}

.location__name {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.location__address, .location__open, .location__contact {
  margin-bottom: 20px;
}

.location .btn {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  font-weight: 300;
}

.location .btn.slide-bg::before {
  background: #fff;
}

.location .btn.slide-bg:hover {
  color: #050507;
}

/*-------------------------------------------
Feature
-------------------------------------------*/
.feature {
  margin-bottom: 200px;
  position: relative;
  z-index: 20;
}

.feature__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.feature__img {
  width: 55%;
  position: relative;
  overflow: hidden;
}

.feature__img img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.feature__text {
  width: 45%;
  padding: 0 5%;
}

.feature__text .en {
  display: block;
  letter-spacing: 0.3em;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.feature__text .ja {
  display: block;
  margin-bottom: 36px;
}

.feature__text p {
  text-align: left;
}

/*-------------------------------------------
Footer
-------------------------------------------*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: solid 1px #fff;
  font-size: 0.75rem;
  padding: 80px 30px;
  text-align: left;
}

.footer__logo {
  margin-bottom: 15px;
}

.footer__logo a {
  display: block;
  height: 30px;
}

.footer__logo a img {
  width: 30px;
}

.footer__logo a span {
  font-size: 1.25rem;
  line-height: 30px;
}

.footer__ask p {
  line-height: 1.6;
}

.footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.footer__sns li a {
  padding: 0 15px;
}

.footer__sns .icon::before {
  left: 0;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright li:last-child {
  margin-left: 15px;
}

@media (max-width: 900px) {
  /******************************************************************

  Stylesheet: 900px以下のモニタで適用

  ******************************************************************/
  .site-title {
    font-size: 3rem;
    margin: 50px 0;
  }
  .section-title {
    font-size: 2rem;
  }
  .side-btn {
    display: none;
  }
  /*-------------------------------------------
  News
  -------------------------------------------*/
  .news {
    margin-bottom: 80px;
  }
  .news__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__date {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0;
  }
  .news__title {
    width: 100%;
    padding-top: 0;
  }
  /*-------------------------------------------
  Menu
  -------------------------------------------*/
  .menu {
    margin-bottom: 280px;
  }
  .menu__inner {
    padding: 15px;
  }
  .menu__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__flex:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__flex:nth-child(even) .menu__texts-inner {
    text-align: center;
  }
  .menu__img {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .menu__texts {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .menu__texts-inner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .menu__title::before {
    display: none;
  }
  /*-------------------------------------------
  Location
  -------------------------------------------*/
  .location {
    margin-bottom: 280px;
  }
  /*-------------------------------------------
  Feature
  -------------------------------------------*/
  .feature__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feature__img {
    width: 100%;
    margin-bottom: 30px;
  }
  .feature__img img {
    height: 300px;
  }
  .feature__text {
    width: 100%;
    padding: 0 3%;
  }
  /*-------------------------------------------
  Footer
  -------------------------------------------*/
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 60px 30px;
  }
  .footer__sns {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */